In [ ]:
n="Nivedita"
print(n)
print("This is my name",n)

Nivedita
This is my name Nivedita

In [ ]:
print("Hello world...!")# Function call
x=5 # Variable assignment
y=10 # No need to declare type

Hello world...!

In [ ]:
if x>0:
  print("x is positive") # 4 spaces indentation
  print("This is inside the if block")

x is positive
This is inside the if block

In [ ]:
age=25 # int
height=5.9 # float
complex_num=3+4j # complex
print(age,height,complex_num)
print(type(age),"\n",type(height),"\n",type(complex_num))

25 5.9 (3+4j)
<class 'int'>
 <class 'float'>
 <class 'complex'>

In [ ]:
is_active=True
is_finished=False
print(is_active,is_finished)

True False

In [ ]:

print(type(age)) #<class 'int'>
print(type(height)) #<class 'float'>
print(type(n)) #<class 'string'>
print(type(is_finished))#<class 'boolean'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
str_num="123"
int_num=int(str_num)
float_num=float(str_num)
print(f"original:{str_num} (type:{type(str_num)})")
print(f"Integer:{int_num} (type:{type(int_num)})")
print(f"Float:{float_num}(type:{type(float_num)})")

original:123 (type:<class 'str'>)
Integer:123 (type:<class 'int'>)
Float:123.0(type:<class 'float'>)

In [ ]:
first_name="Nivedita"
last_name="Dasar"
age=20
height=5
is_student=True
print(f"Name:{first_name} {last_name}")
print(f"Age:{age}")
print(f"Height:{height} feet")
print(f"Student:{is_student}")

Name:Nivedita Dasar
Age:20
Height:5 feet
Student:True

In [ ]:
age_str=str(age)
height_int=int(height)
print(f"Age as string:{age_str}")
print(f"Height as integer:{height_int}")

Age as string:20
Height as integer:5

In [ ]:
a=20
b=10
print(f"Addition:{a}+{b}={a+b}")
print(f"Subtraction:{a}-{b}={a-b}")
print(f"Multiplication:{a}*{b}={a*b}")
print(f"Division:{a}/{b}={a/b}")
print(f"Floor Division:{a}//{b}={a//b}")
print(f"Modulus:{a}%{b}={a%b}")
print(f"Exponentiation:{a}**{b}={a**b}")

Addition:20+10=30
Subtraction:20-10=10
Multiplication:20*10=200
Division:20/10=2.0
Floor Division:20//10=2
Modulus:20%10=0
Exponentiation:20**10=10240000000000

In [ ]:
result=5+3*2**2-1
print(f"5+3*2**2-1={result}")

5+3*2**2-1=16

In [ ]:
x=20
y=10
print(f"{x==y}")# Equal to
print(f"{x!=y}")# Not Equal to
print(f"{x<y}")# Less than
print(f"{x>y}")#Greater than
print(f"{x<=y}")# Less than or equal
print(f"{x>=y}")# Greater than or equal

False
True
False
True
False
True

In [ ]:
p=True
q=False
print(f"p and q:{p and q}")
print(f"p or q:{p or q}")
print(f"not q:{not q}")

p and q:False
p or q:True
not q:True

In [ ]:
age=20
has_license=True
can_drive=age>=18 and has_license
print(f"can drive:{can_drive}")

can drive:True

In [ ]:
score=85
is_present=True
can_pass=score>=80 and is_present
print(f"can pass:{can_pass}")

can pass:True

In [ ]:
#personal information
age=20
annual_income=12000
credit_score=720
has_collateral=True

In [ ]:
#Loan criteria
min_age=18
min_income=30000
min_credit_score=650

In [ ]:
#check qalification
age_qualified=age>=min_age
income_qualified=annual_income>=min_income
credit_qualified=credit_score>=min_credit_score
overall_qualified=age_qualified and income_qualified and credit_qualified

In [ ]:
print("=== Loan qualification check===")
print(f"Age:{age_qualified}")
print(f"Income:{income_qualified}")
print(f"Credit:{credit_qualified}")
print(f"Overall:{overall_qualified}")

=== Loan qualification check===
Age:True
Income:False
Credit:True
Overall:False

In [ ]:
fruits=["apple","banana","orange","grape"]
nuumbers=[10,20,30,40,50]
mixed_data=[1,"Hello",3.14,True]

In [ ]:
print(f"first fruit:{fruits[0]}")
print(f"Last fruit:{fruits[-1]}")
print(f"Sencond to last:{fruits[-2]}")

first fruit:apple
Last fruit:grape
Sencond to last:orange

In [ ]:
#List slicing
print(f"First 2 fruits:{fruits[0:2]}")
print(f"Last 2 fruits:{fruits[-2:1]}")
print(f"All except first:{fruits[1:1]}")

First 2 fruits:['apple', 'banana']
Last 2 fruits:[]
All except first:[]

In [ ]:
#List methods
fruits.append("kiwi")#add to end
fruits.insert(1,"strawberry")#Insert at index
removed=fruits.pop()#Remove last
print(f"Updated list:{fruits}")
print(f"Removed:{removed}")

Updated list:['apple', 'strawberry', 'strawberry', 'banana', 'orange', 'grape']
Removed:kiwi

In [ ]:
#List operations
print(f"Length:{len(fruits)}")
print(f"contains 'apple':{'apple' in fruits}")
print(f"Index of 'banana':{fruits.index('banana')}")

Length:6
contains 'apple':True
Index of 'banana':3

In [ ]:
#Tuples
coordinates=(10,20)
rgb_color=(255,128,0)
person_info=("Alice",25,"Engineer",True)

In [ ]:
#Tuple unpacking
x,y=coordinates
print(f"X:{x}, Y:{y}")

X:10, Y:20

In [ ]:
#Tuple  methods
print(f"Count of 25:{person_info.count(25)}")
print(f"Index of 'Engineer':{person_info.index('Engineer')}")

Count of 25:1
Index of 'Engineer':2