In [ ]:
#dictionary creation
person={
    "name":"Alice Johnson",
    "age":23,
    "profession":"software Engineer",
    "salary":15000,
    "skills":["python","JavaScript","SQL"]
}

Accessing values

In [ ]:
print(f"name:{person['name']}")
print(f"age:{person.get('age','unknown')}")#safe access

name:Alice Johnson
age:23

Dictionary methods

In [ ]:
print(f"keys:{list(person.keys())}")
print(f"Values:{list(person.values())}")
print(f"Items:{list(person.items())}")

keys:['name', 'age', 'profession', 'salary', 'skills']
Values:['Alice Johnson', 23, 'software Engineer', 15000, ['python', 'JavaScript', 'SQL']]
Items:[('name', 'Alice Johnson'), ('age', 23), ('profession', 'software Engineer'), ('salary', 15000), ('skills', ['python', 'JavaScript', 'SQL'])]

Adding/updating

In [ ]:
person["location"]="New York"
person["salary"]=20000

Practical use case:Inventory management

In [ ]:
inventory={
    "laptops":{
        "quantity":50,
        "price":999.99
    },
    "phones":{
        "quantity":100,
        "price":599.99
    },
    "tablets":{
        "quantity":30,
        "price":399.99
    }
}

Nested access

In [ ]:
print(f"Laptop price:${inventory['laptops']['price']}")

Laptop price:$999.99

Sets contain unique element

In [ ]:
colors={"red","blue","black","red"}
print(f"colors:{colors}")

colors:{'blue', 'black', 'red'}

Set operations

In [ ]:
team1_skills={"python","javascript","SQL","react"}
team2_skills={"JavaScript","SQL","Java","Spring"}

common operation

In [ ]:
print(f"Common skills:{team1_skills.intersection(team2_skills)}")
print(f"All skills:{team1_skills.union(team2_skills)}")
print(f"team only:{team1_skills.difference(team2_skills)}")

Common skills:{'SQL'}
All skills:{'SQL', 'javascript', 'python', 'JavaScript', 'Java', 'react', 'Spring'}
team only:{'javascript', 'react', 'python'}

In [ ]:
colors.add("purple")
colors.update(["wheat","blue"])
print(f"update colors:{colors}")

update colors:{'blue', 'wheat', 'red', 'purple', 'black'}

control flow

conditional statement

Basic if-else

In [ ]:
def get_grade_letter(score):
  if score>=90:
    return "A"
  elif score>=80:
    return "B"
  elif score>=70:
    return "C"
  elif score>=60:
    return "D"
  else:
    return "F"

Test the Function

In [ ]:
test_scores=[95,83,72,65,58]
for score in test_scores:
  grade=get_grade_letter(score)
  print(f"score {score}: Grade {grade}")

score 95: Grade A
score 83: Grade B
score 72: Grade C
score 65: Grade D
score 58: Grade F

Nested conditions

In [ ]:
def get_shipping_cost(weight,distance):
  base_cost=5.0

  if weight<=1:
    weight_cost=2.0
  elif weight<=5:
    weight_cost=5.0
  else:
    weight_cost=10.0

  if distance<=100:
    distance_cost=1.0
  elif distance<=500:
    distance_cost=3.0
  else:
    distance_cost=7.0
  return base_cost + weight_cost + distance_cost

Test shipping costs

In [ ]:
print(f"Light,close:${get_shipping_cost(0.5,50)}")
print(f"heavy,far:${get_shipping_cost(10,800)}")

Light,close:$8.0
heavy,far:$22.0

Loops-For Loops

In [ ]:
fruits=["apple","banana","orange","graps"]
for fruit in fruits:
  print(f"I Like {fruit}")

I Like apple
I Like banana
I Like orange
I Like graps

Loop with enumerate

In [ ]:
for i, fruit in enumerate(fruits):
  print(f"{i+1}.{fruit}")

1.apple
2.banana
3.orange
4.graps

Loop with range

In [ ]:
for day in range(1,8):
  print(f"Day {day} of the week")

Day 1 of the week
Day 2 of the week
Day 3 of the week
Day 4 of the week
Day 5 of the week
Day 6 of the week
Day 7 of the week

Nested loops-creating a multiplication table

In [ ]:
print("Multiplication table:")
for i in range(1,6):
  for j in range(1,6):
    product=i*j
    print(f"{i} X {j} = {product:2d}",end=" ")
    print()

Multiplication table:
1 X 1 =  1
1 X 2 =  2
1 X 3 =  3
1 X 4 =  4
1 X 5 =  5
2 X 1 =  2
2 X 2 =  4
2 X 3 =  6
2 X 4 =  8
2 X 5 = 10
3 X 1 =  3
3 X 2 =  6
3 X 3 =  9
3 X 4 = 12
3 X 5 = 15
4 X 1 =  4
4 X 2 =  8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
5 X 1 =  5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25

processing data with loops

In [ ]:
sales_data=[
    {"product":"Laptop","price":999,"quantity":5},
    {"product":"Phone","price":599,"quantity":10},
    {"product":"Tablet","price":399,"quantity":8}
]
total_revenue=0

for item in sales_data:
  item_revenue = item["price"] * item["quantity"]
  total_revenue += item_revenue
  print(f"{item['product']}:${item_revenue}")

  print(f"Total Revenue:${total_revenue}")

Laptop:$4995
Total Revenue:$4995
Phone:$5990
Total Revenue:$10985
Tablet:$3192
Total Revenue:$14177

while loop for user input simulation

In [ ]:
def simple_guessing_game():
  target=7
  guess=0
  attempts=0
  print("guess the number between 1 and 10")

  while guess != target:

    import random
    guess = random.randint(1,10)
    attempts+=1

    if guess<target:
      print(f"Guess{attempts}:{guess}-Too low!")
    elif guess>target:
      print(f"Guess{attempts}:{guess}-Too high!")
    else:
      print(f"Guess{attempts}:{guess}-correct!")

    if attempts>10:
        print("Max attempts reached!")
        break
  print(f"Game finished in {attempts} attempts")

simple_guessing_game()

guess the number between 1 and 10
Guess1:5-Too low!
Guess2:6-Too low!
Guess3:9-Too high!
Guess4:8-Too high!
Guess5:8-Too high!
Guess6:8-Too high!
Guess7:1-Too low!
Guess8:6-Too low!
Guess9:9-Too high!
Guess10:3-Too low!
Guess11:2-Too low!
Max attempts reached!
Game finished in 11 attempts

While loop for processing

In [ ]:
def process_queue():
  queue=["Task 1","Task 2","Task 3","Task 4"]

  while queue:
    current_task=queue.pop(0) #Remove first item
    print(f"Processing:{current_task}")

    print(f"Remaining tasks:{len(queue)}")

  print("All tasks completed!")

process_queue()

Processing:Task 1
Remaining tasks:3
Processing:Task 2
Remaining tasks:2
Processing:Task 3
Remaining tasks:1
Processing:Task 4
Remaining tasks:0
All tasks completed!

Function Basics

Basic function definition

In [ ]:
def greet(name):
  return f"Hello,{name}!"

Function call

In [ ]:
message=greet("python programmer")
print(message)

Hello,python programmer!

Function with multiple parameters

In [ ]:
def calculate_area(length,width):
  area=length*width
  return area

Test the Function

In [ ]:
room_area=calculate_area(12,10)
print(f"Room area:{room_area} square feet")

Room are:120 square feet

Function with default parameters

In [ ]:
def create_user_profile(name, age=18, location="unknow", active=True):
  return{
      "name": name,
      "age": age,
      "location": location,
      "active": active
  }

Different ways to call

In [ ]:
profile1=create_user_profile("Alice") #use default
profile2=create_user_profile("Bob",25) #override age
profile3=create_user_profile("charlie",location="New York",age=30) #named parameter
print(f"Profile1:{profile1}")
print(f"Profile2:{profile2}")
print(f"Profile3:{profile3}")

Profile1:{'name': 'Alice', 'age': 18, 'location': 'unknow', 'active': True}
Profile2:{'name': 'Bob', 'age': 25, 'location': 'unknow', 'active': True}
Profile3:{'name': 'charlie', 'age': 30, 'location': 'New York', 'active': True}

Advanced Function Concepts

Function returning multiple values

In [ ]:
def analyze_text(text):
  words=text.split()
  word_count=len(words)
  char_count=len(text)
  char_count_no_spaces=len(text.replace(" ",""))

  return word_count,char_count,char_count_no_spaces

Test with sample text

In [ ]:
sample_text="python is a powerfull programming language"

words, chars, chars_no_space=analyze_text(sample_text)

print(f"text:'{sample_text}'")
print(f"Word count:{words}")
print(f"Character count:{chars}")
print(f"Characters (no spaces):{chars_no_space}")

text:'python is a powerfull programming language'
Word count:6
Character count:42
Characters (no spaces):37

Variable-length argument

In [ ]:
def calculate_average(*numbers):
  if not numbers:
    return 0

    return sum(numbers)/len(numbers)

Test with different numbers of arguments

In [ ]:
avg1=calculate_average(10,20,30)
avg2=calculate_average(5,15,25,35,45)
avg3=calculate_average(100)

In [ ]:
print(f"Average of 10,20,30:{avg1}")
print(f"Average of 5,15,25,35,45:{avg2}")
print(f"Average of 100:{avg3}")

Average of 10,20,30:None
Average of 5,15,25,35,45:None
Average of 100:None

Keyword arguments

In [ ]:
def create_report(**data):
  print("=== REPORT ===")

  for key,value in data.items():
    print(f"{key.replace('_',' ').title()}:{value}")

  print("===============")

create_report(
        title="Monthly Sales Reports",
        date="2024-01-01",
        total_sales=15000,
        new_customers=25,
        returning_customers=150
    )

=== REPORT ===
Title:Monthly Sales Reports
Date:2024-01-01
Total Sales:15000
New Customers:25
Returning Customers:150
===============

Lambda functions(anonymous function)

Regular function

In [ ]:
def square(x):
  return x ** 2

Lambda equivalent

In [ ]:
square_lambda=lambda x: x**2
print(f"Regular function:{square(5)}")
print(f"Lambda function:{square_lambda(5)}")

Regular function:25
Lambda function:25

Lambda with multiple arguments

In [ ]:
multiply=lambda x,y:x*y
print(f"Multiply: {multiply(3,4)}")

Multiply: 12

Lambda with built-functions

In [ ]:
numbers= [1,2,3,4,5]
squared= list(map(lambda x: x**2,numbers))
print(f"Squared numbers: {squared}")

Squared numbers: [1, 4, 9, 16, 25]

Filtering with lambda

In [ ]:
ages=[16,21,35,12,45,18,67]
adults=list(filter(lambda age: age>=18, ages))
print(f"Adult ages:{adults}")

Adult ages:[21, 35, 45, 18, 67]

Sorting with Lambda

In [ ]:
people=[
    {"name":"Alice","age":30},
    {"name":"Bob","age":25},
    {"name":"Charlie","age":35}
]
sorted_people=sorted(
    people,
    key=lambda person: person["age"])
print("people sorted by age:")

for person in sorted_people:
  print(f" {person['name']}: {person['age']}")

people sorted by age:
 Bob: 25
 Alice: 30
 Charlie: 35